html
  head
    title redisred admin
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    div.container-fluid(style="max-width: 1000px;")
      h1 redisred admin
      table.table.table-striped(style="table-layout: fixed;")
        tr
          th.col-sm-2 Key
          th.col-sm-7 URL
          th.col-sm-3(colspan=3) Clicks
        each redirect in redirects
          tr
            td.col-sm-2
              a(href=("/"+redirect.key))=redirect.key
            td.col-sm-7(style="overflow: hidden; text-overflow: ellipsis; word-break: keep-all;")
              a(href=redirect.url)= redirect.url
            td.col-sm-1= redirect.clicks
            form(action="/admin/redirect/delete", method="POST")
              td.col-sm-2(colspan=2)
                input(type="hidden", name="_csrf", value=token)
                input(type="hidden", name="key", value=redirect.key)
                button.btn.btn-default.btn-block.remove-button Remove
        tr
          form(action="/admin/redirect/create", method="POST")
            input(type="hidden", name="_csrf", value=token)
            td.col-sm-2
              input.form-control(name="key", placeholder="Redirect Name")
            td.col-sm-7
              input.form-control(name="url", placeholder="https://")
            td.col-sm-1 N/A
            td.col-sm-2(colspan=2)
              button.btn.btn-danger.btn-block Create / Update
      a.btn.btn-default.btn-block(href="/admin/logout") Log out
